# See https://docs.aspect.build/workflows/configuration
workspaces:
    .:
        icon: js
        label: rules_js
    e2e/bzlmod:
        icon: bazel
        tasks: &e2e_tasks
            - test:
                  queue: aspect-medium
            - format:
                  without: true
            - buildifier:
                  without: true
            - bazel-8:
                  without: true
            - bazel-9:
                  without: true
    e2e/git_dep_metadata: &npm_e2e
        icon: npm
        tasks: *e2e_tasks
    e2e/gyp_no_install_script: *npm_e2e
    # rules_docker not compatible with Bazel 7.
    # See https://github.com/bazelbuild/bazel/issues/20494#issuecomment-1852401451.
    # e2e/js_image_docker:
    e2e/js_image_oci:
        icon: linux
        tasks: *e2e_tasks
    # No test targets. Requires running test.sh.
    # e2e/js_run_devserver:
    e2e/npm_link_package: *npm_e2e
    e2e/npm_link_package-esm: *npm_e2e
    e2e/npm_link_package-rerooted: *npm_e2e
    e2e/npm_translate_lock: *npm_e2e
    e2e/npm_translate_lock_replace_packages: *npm_e2e
    e2e/npm_translate_lock_empty: *npm_e2e
    e2e/npm_translate_lock_exclude_package_contents: *npm_e2e
    e2e/npm_translate_lock_multi: *npm_e2e
    e2e/npm_translate_lock_partial_clone: *npm_e2e
    # No test targets. Requires running test.sh.
    # e2e/npm_translate_lock_package_visibility:
    e2e/npm_translate_lock_subdir_patch: *npm_e2e
    # Requires an auth token
    # e2e/npm_translate_lock_auth:
    e2e/npm_translate_lock_disable_hooks: *npm_e2e
    # Requires an SSH token
    # e2e/npm_translate_lock_git+ssh:
    e2e/npm_translate_package_lock: *npm_e2e
    e2e/npm_translate_yarn_lock:
        icon: yarn
        tasks: *e2e_tasks
    e2e/package_json_module: *npm_e2e
    e2e/patch_from_repo: *npm_e2e
    e2e/pnpm_lockfiles: &pnpm_e2e
        icon: pnpm
        tasks: *e2e_tasks
    e2e/pnpm_repo_install: *pnpm_e2e
    e2e/pnpm_workspace: *pnpm_e2e
    e2e/pnpm_workspace_deps: *pnpm_e2e
    e2e/pnpm_workspace_rerooted: *pnpm_e2e
    e2e/repo_mapping: &js_e2e
        icon: js
        tasks: *e2e_tasks
    e2e/rules_foo: *js_e2e
    e2e/runfiles: *js_e2e
    e2e/stamped_package_json: *npm_e2e
    e2e/vendored_node: *js_e2e
    e2e/vendored_tarfile: *js_e2e
    e2e/verify_patches: *js_e2e
    e2e/worker: *js_e2e
    e2e/workspace: *js_e2e
    # No test targets. Requires running test.sh.
    # e2e/update_pnpm_lock:
    # e2e/update_pnpm_lock_with_import:
    # e2e/webpack_devserver:
    # e2e/webpack_devserver_esm:
bazel:
    flags:
        - --config=ci
tasks:
    - checkout:
          update_strategy: rebase
    - test:
          name: Bazel 7
          id: bazel-7
          bazel:
              flags: ['--test_tag_filters=-skip-on-bazel7']
          env:
              USE_BAZEL_VERSION: '7.x'
    - test:
          name: Bazel 8
          id: bazel-8
          bazel:
              flags: ['--test_tag_filters=-skip-on-bazel8']
          env:
              USE_BAZEL_VERSION: '8.x'
    - test:
          name: Bazel 9
          id: bazel-9
          bazel:
              flags: ['--test_tag_filters=-skip-on-bazel9']
          env:
              USE_BAZEL_VERSION: '9.*'
    - format:
          queue: aspect-medium
    - buildifier:
          queue: aspect-medium
    - finalization:
          queue: aspect-small
notifications:
    github: {}
