---
workspaces:
    - .:
          group:
              icon: js
              label: rules_js
    - e2e/bzlmod:
          group:
              icon: bazel
    - e2e/js_image_docker:
          group:
              icon: docker
    - e2e/js_image_oci:
          group:
              icon: linux
    # No test targets. Requires running test.sh.
    # - e2e/js_run_devserver:
    #       group:
    #           icon: js
    e2e/npm_link_package:
        icon: npm
    e2e/npm_link_package-esm:
        icon: npm
    e2e/npm_translate_lock:
        icon: npm
    # Requires an auth token?
    # - e2e/npm_translate_lock_auth:
    #     group:
    #       icon: npm
    e2e/npm_translate_package_lock:
        icon: npm
    e2e/npm_translate_yarn_lock:
        icon: yarn
    e2e/package_json_module:
        icon: npm
    e2e/pnpm_workspace:
        icon: pnpm
    e2e/pnpm_workspace_rerooted:
        icon: pnpm
    e2e/rules_foo:
        icon: js
    e2e/vendored_node:
        icon: js
    # No test targets. Requires running test.sh.
    # - e2e/webpack_devserver:
    #       group:
    #           icon: js
    # - e2e/webpack_devserver_esm:
    #       group:
    #           icon: js

tasks:
    warming:
    branch_freshness:
    test:
        flags:
            - --remote_default_exec_properties=cache-silo-key="74aed5f7"
        archive_execution_log: false
