# See https://docs.aspect.build/workflows/configuration
workspaces:
    .:
        icon: js
        label: rules_js
    e2e/bzlmod:
        icon: bazel
        tasks:
            - test:
                  queue: aspect-medium
            - format:
                  without: true
            - buildifier:
                  without: true
    e2e/git_dep_metadata:
        icon: npm
        tasks:
            - test:
                  queue: aspect-medium
            - format:
                  without: true
            - buildifier:
                  without: true
    e2e/gyp_no_install_script:
        icon: npm
        tasks:
            - test:
                  queue: aspect-medium
            - format:
                  without: true
            - buildifier:
                  without: true
    # rules_docker not compatible with Bazel 7.
    # See https://github.com/bazelbuild/bazel/issues/20494#issuecomment-1852401451.
    # e2e/js_image_docker:
    e2e/js_image_oci:
        icon: linux
        tasks:
            - test:
                  queue: aspect-medium
            - format:
                  without: true
            - buildifier:
                  without: true
    # No test targets. Requires running test.sh.
    # e2e/js_run_devserver:
    e2e/npm_link_package:
        icon: npm
        tasks:
            - test:
                  queue: aspect-medium
            - format:
                  without: true
            - buildifier:
                  without: true
    e2e/npm_link_package-esm:
        icon: npm
        tasks:
            - test:
                  queue: aspect-medium
            - format:
                  without: true
            - buildifier:
                  without: true
    e2e/npm_link_package-rerooted:
        icon: npm
        tasks:
            - test:
                  queue: aspect-medium
            - format:
                  without: true
            - buildifier:
                  without: true
    e2e/npm_translate_lock:
        icon: npm
        tasks:
            - test:
                  queue: aspect-medium
            - format:
                  without: true
            - buildifier:
                  without: true
    e2e/npm_translate_lock_replace_packages:
        icon: npm
        tasks:
            - test:
                  queue: aspect-medium
            - format:
                  without: true
            - buildifier:
                  without: true
    e2e/npm_translate_lock_empty:
        icon: npm
        tasks:
            - test:
                  queue: aspect-medium
            - format:
                  without: true
            - buildifier:
                  without: true
    e2e/npm_translate_lock_exclude_package_contents:
        icon: npm
        tasks:
            - test:
                  queue: aspect-medium
            - format:
                  without: true
            - buildifier:
                  without: true
    e2e/npm_translate_lock_multi:
        icon: npm
        tasks:
            - test:
                  queue: aspect-medium
            - format:
                  without: true
            - buildifier:
                  without: true
    e2e/npm_translate_lock_partial_clone:
        icon: npm
        tasks:
            - test:
                  queue: aspect-medium
            - format:
                  without: true
            - buildifier:
                  without: true
    # No test targets. Requires running test.sh.
    # e2e/npm_translate_lock_package_visibility:
    e2e/npm_translate_lock_subdir_patch:
        icon: npm
        tasks:
            - test:
                  queue: aspect-medium
            - format:
                  without: true
            - buildifier:
                  without: true
    # Requires an auth token
    # e2e/npm_translate_lock_auth:
    e2e/npm_translate_lock_disable_hooks:
        icon: npm
        tasks:
            - test:
                  queue: aspect-medium
            - format:
                  without: true
            - buildifier:
                  without: true
    # Requires an SSH token
    # e2e/npm_translate_lock_git+ssh:
    e2e/npm_translate_package_lock:
        icon: npm
        tasks:
            - test:
                  queue: aspect-medium
            - format:
                  without: true
            - buildifier:
                  without: true
    e2e/npm_translate_yarn_lock:
        icon: yarn
        tasks:
            - test:
                  queue: aspect-medium
            - format:
                  without: true
            - buildifier:
                  without: true
    e2e/package_json_module:
        icon: npm
        tasks:
            - test:
                  queue: aspect-medium
            - format:
                  without: true
            - buildifier:
                  without: true
    e2e/patch_from_repo:
        icon: npm
        tasks:
            - test:
                  queue: aspect-medium
            - format:
                  without: true
            - buildifier:
                  without: true
    e2e/pnpm_lockfiles:
        icon: pnpm
        tasks:
            - test:
                  queue: aspect-medium
            - format:
                  without: true
            - buildifier:
                  without: true
    e2e/pnpm_repo_install:
        icon: pnpm
        tasks:
            - test:
                  queue: aspect-medium
            - format:
                  without: true
            - buildifier:
                  without: true
    e2e/pnpm_workspace:
        icon: pnpm
        tasks:
            - test:
                  queue: aspect-medium
            - format:
                  without: true
            - buildifier:
                  without: true
    e2e/pnpm_workspace_deps:
        icon: pnpm
        tasks:
            - test:
                  queue: aspect-medium
            - format:
                  without: true
            - buildifier:
                  without: true
    e2e/pnpm_workspace_rerooted:
        icon: pnpm
        tasks:
            - test:
                  queue: aspect-medium
            - format:
                  without: true
            - buildifier:
                  without: true
    e2e/repo_mapping:
        icon: js
        tasks:
            - test:
                  queue: aspect-medium
            - format:
                  without: true
            - buildifier:
                  without: true
    e2e/rules_foo:
        icon: js
        tasks:
            - test:
                  queue: aspect-medium
            - format:
                  without: true
            - buildifier:
                  without: true
    e2e/runfiles:
        icon: js
        tasks:
            - test:
                  queue: aspect-medium
            - format:
                  without: true
            - buildifier:
                  without: true
    e2e/stamped_package_json:
        icon: npm
        tasks:
            - test:
                  queue: aspect-medium
            - format:
                  without: true
            - buildifier:
                  without: true
    e2e/vendored_node:
        icon: js
        tasks:
            - test:
                  queue: aspect-medium
            - format:
                  without: true
            - buildifier:
                  without: true
    e2e/vendored_tarfile:
        icon: js
        tasks:
            - test:
                  queue: aspect-medium
            - format:
                  without: true
            - buildifier:
                  without: true
    e2e/verify_patches:
        icon: js
        tasks:
            - test:
                  queue: aspect-medium
            - format:
                  without: true
            - buildifier:
                  without: true
    e2e/worker:
        icon: js
        tasks:
            - test:
                  queue: aspect-medium
            - format:
                  without: true
            - buildifier:
                  without: true
    e2e/workspace:
        icon: js
        tasks:
            - test:
                  queue: aspect-medium
            - format:
                  without: true
            - buildifier:
                  without: true
    # No test targets. Requires running test.sh.
    # e2e/update_pnpm_lock:
    # e2e/update_pnpm_lock_with_import:
    # e2e/webpack_devserver:
    # e2e/webpack_devserver_esm:
bazel:
    flags:
        - --config=ci
tasks:
    - checkout:
          update_strategy: rebase
    - test:
    - format:
          queue: aspect-medium
    - buildifier:
          queue: aspect-medium
    - finalization:
          queue: aspect-small
notifications:
    github: {}
