import %workspace%/tools/preset.bazelrc

### YOUR PROJECT SPECIFIC OPTIONS GO HERE ###

# We have some empty globs in rules_js
common --noincompatible_disallow_empty_glob

# Enable cc toolchain resolution to be on par with bazel8 which enables it by default
build --incompatible_enable_cc_toolchain_resolution

# Don't build protoc from the cc_binary, it's slow and spammy when cache miss
common --per_file_copt=external/.*protobuf.*@--PROTOBUF_WAS_NOT_SUPPOSED_TO_BE_BUILT
common --host_per_file_copt=external/.*protobuf.*@--PROTOBUF_WAS_NOT_SUPPOSED_TO_BE_BUILT

# Mock versioning command to test the --stamp behavior
build --workspace_status_command="echo BUILD_SCM_VERSION 1.2.3"

# Don’t want to push a rules author to update their deps if not needed.
# https://bazel.build/reference/command-line-reference#flag--check_direct_dependencies
# https://bazelbuild.slack.com/archives/C014RARENH0/p1691158021917459?thread_ts=1691156601.420349&cid=C014RARENH0
common --check_direct_dependencies=off


# Ignore this test as it breaks the runfiles tree generation in coverage mode. 
# Also see: .aspect/bazelrc/performance.bazelrc where runfiles trees are eagerly 
# generated due to `coverage --build_runfile_links`
coverage --deleted_packages=js/private/test/image/non_ascii

# Load any settings & overrides specific to the current user from `.aspect/bazelrc/user.bazelrc`.
# This file should appear in `.gitignore` so that settings are not shared with team members. This
# should be last statement in this config so the user configuration is able to overwrite flags from
# this file. See https://bazel.build/configure/best-practices#bazelrc-file.
try-import %workspace%/.aspect/bazelrc/user.bazelrc
