**/pnpm-lock.yaml
docs/*_*.md
e2e/**/*-docs.md
e2e/pnpm_lockfiles/cases/*.yaml
examples/**/*-docs.md
js/private/coverage/coverage.js
js/private/node-patches/fs.cjs
min/
npm/private/test/vendored/
js/private/worker/worker.js
js/private/worker/src/worker_protocol.ts
js/private/js_image_layer.mjs
