# Disabling pnpm [hoisting](https://pnpm.io/npmrc#hoist) by setting `hoist=false` is recommended on
# projects using rules_js so that pnpm outside of Bazel lays out a node_modules tree similar to what
# rules_js lays out under Bazel (without a hidden node_modules/.pnpm/node_modules)
hoist=false

# @aspect-build private GitHub registry
@aspect-build:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=${ASPECT_GH_PACKAGES_AUTH_TOKEN}

# npm auth token
_authToken=${ASPECT_NPM_AUTH_TOKEN}
