import %workspace%/../../tools/preset.bazelrc
import %workspace%/../e2e.bazelrc


# An override of the performance.bazelrc setting
# This is needed as Bazel fails to detect a new file when added during an iBazel execution
build --build_runfile_links
