# Disabling pnpm [hoisting](https://pnpm.io/npmrc#hoist) by setting `hoist=false` is recommended on
# projects using rules_js so that pnpm outside of Bazel lays out a node_modules tree similar to what
# rules_js lays out under Bazel (without a hidden node_modules/.pnpm/node_modules)
hoist=false

# Set a custom registry for a scope that is picked up by pnpm when resolving packages;
# This affects the lockfile format and is here to cover this case.
@types:registry=https://registry.yarnpkg.com
