# import common bazelrc shared with e2e workspaces
import %workspace%/../../.bazelrc.common

common --experimental_enable_bzlmod
common --registry=https://raw.githubusercontent.com/aspect-build/bazel-central-registry/main/
