# Cut a release whenever a new tag is pushed to the repo.
name: Release

on:
    push:
        tags:
            - 'v*.*.*'
permissions:
    id-token: write
    attestations: write
    contents: write
jobs:
    release:
        uses: bazel-contrib/.github/.github/workflows/release_ruleset.yaml@v7.2.3
        with:
            release_files: rules_js-*.tar.gz
            prerelease: false
            tag_name: ${{ github.ref_name }}
    publish:
        needs: release
        uses: ./.github/workflows/publish.yaml
        with:
            tag_name: ${{ github.ref_name }}
        secrets:
            publish_token: ${{ secrets.BCR_PUBLISH_TOKEN }}
